

:root {
	--color-text: #333;
	--color-background: #fff;
	--color-background-slightshade: #eee;
	--color-background-shade: #ddd;
	--color-background-button: #ccc;
	--color-background-translucent: #fff8;
	--color-border: #666;
	--color-accent: #2196F3;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #ccc;
		--color-background: #222;
		--color-background-slightshade: #333;
		--color-background-shade: #444;
		--color-background-button: #555;
		--color-background-translucent: #2228;
		--color-border: #555;
	}
}










* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: var(--color-text);
}

body {
	display: flex;
	flex-flow: column;
	overflow-x: hidden;
	font-size: 14px;
	background: var(--color-background);
}

html,
body,
main {
	height: 100%;
	margin: 0px;
	overflow-x: hidden;
}

.emoji {
	font-family: "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", emoji;
}


label {
	font-weight: 700;
}

code, code * {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 13px;
}


header {
	display: flex;
}

.title {
	flex-grow: 1;
	margin: 15px;
	font-size: x-large;
}

.menu {
	flex-flow: row wrap;
	justify-content: flex-end;
	display: flex;
	font-size: x-large;
	margin: 5px;
	cursor: pointer;
}

@media only screen and (min-width: 650px) {
	.title {
		font-size: xx-large;
	}
	.menu {
		font-size: xx-large;
	}
}

.menu * {
	margin: 5px;
	opacity: 70%;
	text-decoration: none;
}

.menu *:hover, .menu *:focus {
	opacity: 100%;
}


.reactive {
	position: absolute;
	opacity: 70%;
	transition: .4s;
}

.reactive:hover, .reactive:focus-within {
	z-index: 15;
	opacity: 100%;
}


/*
 * Gradient desinger pannel and nodes
 */

.gradient {
	position: relative;
	padding-top: 10px;
}

.gradient .gradient-background {
	position: absolute;
	height: 100%;
	width: calc(100% - 100px);
	left: 50px;
	top: 0px;
	z-index: -1;
}

.gradient .gradient-background.left {
	left: calc(50px - (100% - 100px));
}

.gradient .gradient-background.right {
	left: calc(50px + 100% - 100px);
}


.gradient .bar {
	position: relative;
	width: calc(100% - 100px);
	left: 50px;
	height: 50px;
	margin-top: 60px;
	margin-bottom: 100px;
	border-style: groove;
	border-color: var(--color-background);
	border-radius: 5px;
	border-width: 3px;
	transform: translateX(-3px);
	box-sizing: unset;
	z-index: 10;
}

@media only screen and (min-width: 1000px) {
	.gradient .bar {
		width: 90%;
		left: 5%;
		margin-top: 100px;
	}
	.gradient .gradient-background {
		width: 90%;
		left: 5%;
	}
	.gradient .gradient-background.left {
		left: -85%;
	}
	.gradient .gradient-background.right {
		left: 95%;
	}
}


.gradient .bar #gradient {
	width: 100%;
	height: 100%;
	cursor: copy;
}

.gradient .bar #gradient:focus-visible::after {
	position: absolute;
	content: "Add new anchor";
	background: var(--color-background);
	color: var(--color-text);
	padding: 3px;
}


.gradient .bar .slider-lens {
	width: 6px;
	height: 50px;
	border-style: groove;
	border-color: var(--color-background);
	border-width: 3px;
	border-radius: 10px;
	transform: translate(-6px, -3px);
	position: absolute;
	box-sizing: unset;
}

.gradient .bar .slider-inputs {
	position: absolute;
	top: 55px;
	transform: translateX(-50%);
}

.gradient .bar .slider-input {
	position: relative;
	height: 25px;
	box-sizing: border-box;
	border-style: solid;
	border-radius: 25px;
	border-width: 2px;
	border-color: var(--color-background-shade);
	text-align: center;
	font-size: medium;
	background: var(--color-background);
	color: var(--color-text);
}

.gradient .bar .slider-input-p {
	width: 50px;
	left: calc(50% - 25px);
	margin-bottom: 5px;
}

.gradient .bar .slider-input-c {
	width: 75px;
	font-family: Consolas, "Courier New", monospace;
}

.gradient .bar .slider-delete {
	top: 0px;
	width: 20px;
	height: 20px;
	background: black;
	color: white;
	border-style: solid;
	border-color: white;
	border-radius: 20px;
	border-width: 0px;
	transform: translate(-10px, -25px);
	position: absolute;
	padding: 0px;
	text-align: center;
	cursor: pointer;
	opacity: 30%;
}

.gradient .bar .slider-delete:hover, .gradient .bar .slider-delete:focus {
	opacity: 100%;
}



/*
 * Control and settings
 */


.gradient .control {
	position: relative;
	width: 96%;
	padding: 2%;
	height: max-content;
	background: var(--color-background);
}

@media only screen and (min-width: 700px) {
	.gradient {
		min-height: calc(100% - 10px - 10px);
		padding-bottom: 10px;
	}
	.gradient .control {
		width: 68%;
		left: 15%;
		margin-top: 200px;
		padding: 1%;
		border-radius: 10px;
	}
}

.gradient .control > * {
	margin-bottom: 5px;
}

.gradient .control .settings {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.gradient .control .switch {
	vertical-align: middle;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	margin: 2px;
}

.gradient .control .button {
	height: 25px;
	margin: 2px;
}

.gradient .control .settings button {
	background-color: var(--color-background-button);
	border-color: var(--color-background-shade);
	border-radius: 4px;
	border-style: solid;
	padding: 0px 5px;
}

.gradient .control .settings button:hover {
	background-color: var(--color-background-shade);
}

.gradient .control .settings button:hover:active {
	background-color: var(--color-background-slightshade);
}


.gradient .control input {
	background-color: var(--color-background);
	border-color: var(--color-background-shade);
	border-radius: 4px;
	border-style: solid;
}

.gradient .control .switchlabel {
	display: inline;
	vertical-align: middle;
}

.gradient .control .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.gradient .control .switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-background-button);
	-webkit-transition: .4s;
	transition: .4s;
}

.gradient .control .switch .slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 4px;
	bottom: 4px;
	background-color: var(--color-background);
	-webkit-transition: .4s;
	transition: .4s;
}

.gradient .control input:checked + .slider {
	background-color: var(--color-accent);
}

.gradient .control input:focus + .slider {
	box-shadow: 0 0 1px var(--color-accent);
}

.gradient .control input:checked + .slider:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
}

.gradient .control .switch .slider.round {
	border-radius: 34px;
}

.gradient .control .switch .slider.round:before {
	border-radius: 50%;
}


/*
 * Code tabs
 */


.code-tabs .codestyle {
	background: var(--color-background-slightshade);
	color: var(--color-text);
	border-style: solid;
	border-color: var(--color-border);
	border-width: 2px;
	border-radius: 5px;
	transition: .4s
}

.code-tabs .codestyle:hover {
	background: var(--color-background-shade);
}

.code-tabs .codestyle.selected {
	opacity: 100%;
}

.code-tabs .codebox {
	position: relative;
	border-top-left-radius: 0px;
	cursor: pointer;
}

.code-tabs .codebox pre {
	margin: 0px;
	padding: 8px;
	overflow-x: auto;
	background-color: transparent;
	border: none;
}


.code-tabs .tab-bar {
	display: flex;
}

.code-tabs .tab-bar .tab-bar-button {
	position: relative;
	padding: 5px;
	margin-right: 5px;
	border-bottom-width: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	transform: translateY(2px);
	font-size: medium;
	cursor: pointer;
}

.code-tabs .tab-bar .tab-bar-button.selected {
	z-index: 1;
}


/*
 *  Snackbar
 */

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: var(--color-background);
	color: var(--color-text);
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 100;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}



/*
 *  Gallery
 */


#gradient-box-table {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 30px;
	padding: 30px;
}

.gradient-box {
	position: relative;
	height: 150px;	
	transition: 0.1s;
}

.gradient-box:hover {
	transform: scale(1.05);
}

.gradient-box a {
	position: absolute;
	width: 100%;
	height: 100%
}

.gradient-box .item-delete {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 20px;
	height: 20px;
	background: black;
	color: white;
	border-width: 0px;
	padding: 0px;
	text-align: center;
	cursor: pointer;
	opacity: 20%;
}

.gradient-box .item-add {
	position: absolute;
	left: calc(50% - 40px);
	top: calc(50% - 25px);
	width: 80px;
	height: 50px;
	background: white;
	color: black;
	border-width: 0px;
	border-radius: 50px;
	padding: 0px;
	text-align: center;
	cursor: pointer;
	opacity: 50%;	
	font-size: xxx-large;
	line-height: 100%;
}

.gradient-box .item-title {
	position: absolute;
	width: calc(100% - 20px);
	bottom: 0px;
	padding: 5px 10px;
	background: var(--color-background-translucent);
	font-size: medium;
	pointer-events: none;
}

.gradient-box *:hover {
	opacity: 100%;
}






.footertext {
	background: var(--color-background-slightshade);
	padding: 10px;
	text-align: center;
}


